.inputs{
    justify-content: center;
    margin-left: 35%;margin-right: 35%;
}
.fech{
    width: 100%;margin-right: 0%; padding-right: 0%;justify-content: center;
}
.name{
    justify-content:space-between
}
.ostan{
 width: 90%; height: 100%;margin-top: 0%; padding-top: 0%;
}
.inputpass{
    display: flex;
    width: 100%;
   border:black 0.1rem solid;
  overflow: hidden;height: 33px;
}
.inputpass input{
    width: 99.5%;
    border: none;
    height: 100%;
}